<div class="card-header d-flex justify-content-between">
  <div>
    <h5 class="m-1"><bold><%= @todo_list.title %></bold> - <%= @todo_list.tasks.count %> total tasks</h5>
  </div>
  <%= link_to 'Edit List', edit_todo_list_path(@todo_list), class: 'btn btn-secondary' %>
  <%= link_to 'Add Task to List', new_todo_list_task_url(@todo_list), class: 'btn btn-primary' %>
</div>
<div class="card-body">

  <ul class="list-group">
    <% @todo_list.tasks.each do |task| %>
      <% if task.completed? %>
        <li class="list-group-item bg-light">
          <div class="d-flex justify-content-between">
        <span class="muted">
          <em><del>task.title</del></em> -
          <em><del><%= task.description %></del></em>
        </span>
            <%= link_to edit_todo_list_task_url(@todo_list.id, task.id), class: 'btn btn-dark' do %>
              Update Task
            <% end %>
            <%= link_to 'Delete Task', [task.todo_list, task], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>

          </div>
        </li>
      <% else %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
        <span>
          <%= task.title %> -
          <%= task.description %>
        </span>
            <%= link_to edit_todo_list_task_url(@todo_list.id, task.id), class: 'btn btn-success' do %>
              Update Task
            <% end %>
            <%= link_to 'Delete Task', [task.todo_list, task], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </div>
        </li>
      <% end %>

    <% end %>
  </ul>
</div>
<%= link_to 'View all lists', todo_lists_url %>



